@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #9d9da0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: rgb(117, 116, 116);
  bottom: 100px;
}
.progressLine {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;

  
}

.active-nav{
  background-color: #9d9da0;
  padding: 5px;
  width: 80%;
  color: white;
}
